*{
  margin: 0px;
  padding: 0px;
}


#back{
  background-image: url('imagenes/back.png');
  background-repeat: repeat;
  height: 110px;
  width: auto;
}

}
#ContPrin {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding: 10px;
  margin-left: 0%; 

}

#Box1 {
  flex: 1 1 150px;
  padding: 10px;
  left: 0;
}

#atmButton{
  margin-top: 0;
  margin-left: 450px;
  margin-top: -110px;
  height: auto;
  width: 75px;
  transition: 1s;
}

#atmButton:hover{
  transform: translateY(-7px);
  transition: 1s;
}

#Logo{
    width: 400px;
    height: auto;
}

#ContSec{
  align-items: center;
  background-color: #fff;
  border: solid;
  border-color: #fff;
  margin-top: 90px;
  height: 1400px;
  width: 100%;
  padding: 25px;
  margin-bottom: -100px; 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.30);
  margin-bottom: 20px;
}

